<div class="container">
    <!-- <div [ngClass]="status ? 'active' : ''" --->
    <div class="navigation">
        <ul>
            <li>
                <a href="#">
                    <span class="icon">
                        <img src="https://media.licdn.com/dms/image/C4D0BAQHIdbungCh3Ww/company-logo_200_200/0/1657710219558/indegene_logo?e=2147483647&v=beta&t=9MVmqJnHYbwSv_V6Uj_vObBFeLLx5FdnpgETPxijxEg"
                            width="30px" alt="">
                    </span>
                    <span class="title">Indegene</span>
                </a>
            </li>

            <li>
                <a href="#">
                    <span class="icon">
                        <i class="fa fa-home" aria-hidden="true"></i>
                    </span>
                    <span class="title">Dashboard</span>
                </a>
            </li>

            <li>
                <a href="#">
                    <span class="icon">
                        <i class="fa fa-users" aria-hidden="true"></i>
                    </span>
                    <span class="title">employees</span>
                </a>
            </li>

            <li>
                <a href="#">
                    <span class="icon">
                        <i class="fa fa-question" aria-hidden="true"></i>
                    </span>
                    <span class="title">Help</span>
                </a>
            </li>
        </ul>

    </div>
</div>