<div class="details">
    <div class="recentOrders">
        <div class="cardHeader">
            <h2>All employees</h2>
            <a routerLink="/add" class="btn">Add employees</a>
        </div>
        <div *ngIf="loading" class="loader">
            <svg class="pl" width="240" height="240" viewBox="0 0 240 240">
                <circle class="pl__ring pl__ring--a" cx="120" cy="120" r="105" fill="none" stroke="#000"
                    stroke-width="20" stroke-dasharray="0 660" stroke-dashoffset="-330" stroke-linecap="round"></circle>
                <circle class="pl__ring pl__ring--b" cx="120" cy="120" r="35" fill="none" stroke="#000"
                    stroke-width="20" stroke-dasharray="0 220" stroke-dashoffset="-110" stroke-linecap="round"></circle>
                <circle class="pl__ring pl__ring--c" cx="85" cy="120" r="70" fill="none" stroke="#000" stroke-width="20"
                    stroke-dasharray="0 440" stroke-linecap="round"></circle>
                <circle class="pl__ring pl__ring--d" cx="155" cy="120" r="70" fill="none" stroke="#000"
                    stroke-width="20" stroke-dasharray="0 440" stroke-linecap="round"></circle>
            </svg>
        </div>
        <table>
            <thead>
                <tr>
                    <td>ID</td>
                    <td>Name</td>
                    <td>Position</td>
                    <td>Contact</td>
                    <td>Salary</td>
                    <td>Experience</td>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let employee of employees" [routerLink]="['/employee', employee._id]">
                    <td>{{ employee._id }}</td>
                    <td>{{ employee.name }}</td>
                    <td>{{ employee.position }}</td>
                    <td>{{ employee.contact }}</td>
                    <td>{{ employee.salary }}</td>
                    <td>{{ employee.experience }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>