<!-- employee-edit.component.html -->

<div class="details">
    <div class="cardHeader">
        <h2>Edit Employee</h2>
    </div>
    <form [formGroup]="employeeForm" (ngSubmit)="saveChanges()">
        <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" id="name" formControlName="name" />
        </div>
        <div class="form-group">
            <label for="position">Position:</label>
            <input type="text" id="position" formControlName="position" />
        </div>
        <div class="form-group">
            <label for="salary">Salary:</label>
            <input type="number" id="salary" formControlName="salary" />
        </div>
        <div class="form-group">
            <label for="experience">Experience:</label>
            <input type="text" id="experience" formControlName="experience" />
        </div>
        <button type="submit" class="btn">Save Changes</button>
    </form>
</div>